# Template skypatch provided by Chesyon (my goat :pray:), not included in this repository, but present on my fs for convienence.
# You can find it here: https://github.com/Chesyon/chesyon-eos-asm/tree/main/skypatches
skypatches/Template

# would rather not be nuked from the planet by copyright lawyers by uploading a full ROM to github lmfao
# My ROMs are sourced from my completely legally purchased Explorers of Sky cartridge, from my legally purchased Nintendo DS system.
# No part of the game is distributed in any way within the patches included in this repository. 
*.nds
/**/tests

# STOP! COMMITTING! .DS_Store! I'M TIRED OF SEEING IT! IN MY PROGRAMMING REPOSITORRIES THERE'S DS_Store, IN MY SCREENSHOTS FOLDERS THERE'S FUCKING DS_Store, I had. an smb server, right? and ALLLLL of the folders has a DS_Store. 
.DS_Store

# Still in-dev
grant_move.asm